@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #130f49;
}

// Desktop-first
.Navigation-Componente {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px 45px;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    ul {
        list-style-type: none;
        display: flex;
        gap: 5px;

        li {
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            padding: 12px 22px;

            a {
                text-decoration: none;
                letter-spacing: -0.02em;
            }

            :hover {
                color: #34a1cd;
            }
        }
    }

    .DN-Logo {
        width: 50px;
    }

}

.Home-Componente {
    min-height: calc(100vh - 41px);
    padding-top: 41px;
    min-width: 100vw;
    font-family: "Karla", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    overflow-x: visible;

    .Circle-Background {
        position: absolute;
        top: 0;
        right: 0;
    }

    .Text-Container {
        width: 400px;
        height: 632px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: 'Space Grotesk', sans-serif;
            font-size: 60px;
            margin-bottom: 20px;
            letter-spacing: -0.1em;
        }

        p {
            font-size: 18px;

            a {
                text-decoration: none;
                color: #34a1cd;
            }
        }

        .Highlight {
            color: #34a1cd;
        }

        .Abstand {
            height: 20px;
        }

        .WhatsApp-Button {
            margin: 50px 100px;
        }
    }

    .Image-Container {
        width: 632px;
        height: 632px;
        background-color: #d9f4ff;
        border-radius: 50% 0% 50% 50%;
        position: relative;

        .Dots-Image {
            position: absolute;
            top: 5%;
            left: 3%;
            z-index: 50;
        }

        .Avatar-Image {
            width: 632px;
            height: 632px;
            border-radius: 0% 50% 50% 50%;
            transform: scaleX(-1);
            z-index: 40;
        }
    }


}

.AboutMe-Pages {
    min-height: calc(100vh - 41px);
    padding-top: 41px;
}

.Projects-Pages {
    min-height: calc(100vh - 41px);
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #e9f9ff;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
    }

    .Project-Card {
        font-family: "Karla", sans-serif;
        background-color: #fff;
        width: 900px;
        padding: 15px;
        border-radius: 10px;
        display: flex;

        .Project-Pic {
            width: 300px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .Project-Info {
            width: 600px;
            margin-left: 15px;
            position: relative;

            h2 {
                font-family: 'Space Grotesk', sans-serif;
            }

            p {
                margin-top: 10px;
            }

            .Project-Icon-Container {
                position: absolute;
                bottom: 0;
                right: 20px;

                .Project-Icon {
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                }
            }
        }
    }
}

.Contact-Pages {
    min-height: calc(100vh - 41px);
    padding-top: 41px;
    min-width: 100vw;
    font-family: "Karla", sans-serif;
    background-color: #e9f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    overflow-x: visible;

    .Text-Container {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.04em;

        h2 {
            font-size: 3rem;
            margin-top: 15px;
        }
    }

    .Contact-Formular {
        background-color: #ffffff;
        width: 577px;
        height: 680px;
        border-radius: 25px;
        letter-spacing: -0.04em;
        font-size: 18px;
        padding: 80px 40px;

        label {
            display: block;
            color: #b4b2c5;
            margin-top: 25px;

            .Stern {
                color: #60d1ff;
                margin-left: 2px;
            }

            input {
                display: block;
                width: 100%;
                font-size: 18px;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #b4b2c5;
                color: #999999;
            }

            textarea {
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid #b4b2c5;
                color: #999999;
                padding: 15px;
            }
        }

        .Form-Button {
            border: 0;
            background-color: #130f49;
            color: #fff;
            padding: 20px 32px;
            border-radius: 12px;
            font-size: 18px;
            margin-top: 30px;
            cursor: pointer;
        }

    }
}

.Impressum-Pages {
    min-height: calc(100vh - 41px);
    min-width: 100vw;
    padding-top: 41px;
    background-color: #e9f9ff;
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2 {
        font-family: 'Space Grotesk', sans-serif;
        margin-top: 20px;
    }

    p {
        margin-top: 10px;
    }

}

.DSGVO-Pages {
    min-height: calc(100vh - 41px);
    min-width: 100vw;
    padding: 70px;
    background-color: #e9f9ff;
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2,
    h3 {
        font-family: 'Space Grotesk', sans-serif;
        max-width: 800px;
        margin-top: 20px;
    }

    p,
    ul {
        max-width: 800px;
        margin-top: 10px;

        li {
            margin-top: 5px;
        }
    }
}

.Footer-Componente {
    margin-left: 30px;
    margin-right: 80px;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    ul {
        list-style-type: none;
        display: flex;
        gap: 5px;

        li {
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            padding: 12px 22px;

            a {
                text-decoration: none;
                letter-spacing: -0.02em;
            }

            :hover {
                color: #34a1cd;
            }
        }
    }
}